<div class="usersClass">
    <div class="modal-header">
        <h3 class="modal-title" ng-if="userModal.newuser"><i class="fa fa-user"></i> Alta nuevo usuario</h3>
        <h3 class="modal-title" ng-if="!userModal.newuser"><i class="fa fa-user"></i> Edición del usuario {{userModal.email}}</h3>
    </div>
    <div class="modal-body clearfix">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Nombre</label>
                    <input class="form-control input-modal" placeholder="Nombre del usuario" ng-model="userModal.firstname">
                </div>
                <div class="col-md-6">
                    <label>Apellido</label>
                    <input class="form-control input-modal" placeholder="Apellido del usuario" ng-model="userModal.lastname">
                </div>
                <div class="col-md-6">
                    <label>Contraseña</label>
                    <input type="password" class="form-control input-modal" placeholder="Contraseña" ng-model="userModal.password">
                </div>
                <div class="col-md-6">
                    <label>Repite la contraseña</label>
                    <input type="password" class="form-control input-modal" placeholder="Repite la contraseña" ng-model="userModal.password_val">
                </div>
                <div class="col-md-6">
                    <label>Email:</label>
                    <input class="form-control input-modal" placeholder="Email" ng-model="userModal.email">
                </div>
                <div class="col-md-6">
                    <label>Teléfono:</label>
                    <input class="form-control input-modal" placeholder="Teléfono" ng-model="userModal.directions.phone">
                </div>
                <div class="col-md-6">
                    <label>Aniversario:</label>
                    <p class="input-group">
                        <input title="Aniversario" type="text" name="birthday"
                               class="form-control" is-open="dates.opened"
                               ng-model="dates.birthday" popup-placement="bottom"
                               uib-datepicker-popup="{{dates.format}}"
                               datepicker-options="dates.dateOptions"
                               placeholder="Aniversario"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" ng-click="openDatepicker()"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-md-6">
                    <label>Sexo:</label>
                    <select class="form-control input-modal" ng-model="userModal.gender">
                        <option value="1">H</option>
                        <option value="2">M</option>
                        <option value="0">Desconocido</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Compras:</label>
                    <input disabled class="form-control input-modal" placeholder="Compras" ng-model="userModal.purchases">
                </div>
                <div class="col-md-6">
                    <label>Tipo de usuario:</label>
                    <select class="form-control input-modal" ng-model="userModal.user_type">
                        <option value="10">Root</option>
                        <option value="5">Admin</option>
                        <option value="2">Local</option>
                        <option value="1">Cliente</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Asignar usuario padre existente:</label>
                    <select class="form-control input-modal" ng-model="userModal.user_id">
                        <option ng-repeat="user in users" value="{{user.id}}" selected>{{user.email}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Asignar usuario padre nuevo:</label>
                    <button type="button" class="btn btn-success btn-block input-modal" ng-click="newUser()">
                        Nuevo usuario <i class="fa fa-user"></i>
                    </button>
                </div>
                <div class="col-md-6">
                    <label>Imagen url:</label>
                    <input disabled class="form-control input-modal" placeholder="Imagen url" ng-model="userModal.profile_picture_url">
                </div>
                <div class="col-md-6">
                    <label>Imagen:</label>
                    <input class="form-control input-modal" type='file' ng-model='userModal.raw_picture' base-sixty-four-input>
                </div>
                <!-- <div class="col-md-6">
                     <label>Creado a:</label>
                     <input disabled class="form-control input-modal" placeholder="Creado a" ng-model="user.created_at">
                 </div>
                 <div class="col-md-6">
                     <label>Actualizado a:</label>
                     <input disabled class="form-control input-modal" placeholder="Actualizado a" ng-model="user.updated_at">
                 </div>
                 <div class="col-md-6">
                     <label>Asignado a local:</label>
                     <input disabled class="form-control input-modal" placeholder="Id local" ng-model="user.local_id">
                 </div>-->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="col-md-4">
                <button type="button" class="btn btn-warning btn-block input-modal" ng-click="cancel()">
                    Cancelar <i class="fa fa-ban"></i>
                </button>
            </div>
            <div class="col-md-4" ng-if="userModal.newuser">
                <button type="button" class="btn btn-danger btn-block input-modal" ng-click="cancel()">
                    Descartar usuario <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-md-4" ng-if="!userModal.newuser">
                <button type="button" class="btn btn-danger btn-block input-modal" ng-click="delete()">
                    Eliminar usuario <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success btn-block input-modal" ng-click="save()">
                    Guardar usuario <i class="fa fa-floppy-o"></i>
                </button>
            </div>
        </div>
    </div>
</div>
