<div>
    <div class="modal-header">
        <h3 class="modal-title"><i class="fa fa-shopping-cart"></i> Pedido {{orderModal.order_id}}</h3>
    </div>
    <div class="modal-body clearfix">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Estado:</label>
                    <select class="form-control input-modal" ng-model="orderModal.order_state">
                        <option value="0">Pendiente pago</option>
                        <option value="1">Completado</option>
                        <option value="2">Cancelado</option>
                        <option value="3">Entregado</option>
                        <option value="4">Error pago</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Local:</label>
                    <input disabled class="form-control input-modal" placeholder="ID local" ng-model="orderModal.local_name">
                </div>
                <div disabled class="col-md-6">
                    <label>Usuario:</label>
                    <input disabled class="form-control input-modal" placeholder="Usuario" ng-model="orderModal.user_name">
                </div>
                <div class="col-md-6">
                    <label>Cantidad:</label>
                    <input class="form-control input-modal" placeholder="Cantidad" ng-model="orderModal.product_quantity">
                </div>
                <div class="col-md-6">
                    <label>Producto:</label>
                    <input disabled class="form-control input-modal" placeholder="ID producto" ng-model="orderModal.product_name">
                </div>
                <div class="col-md-6">
                    <label>Precio:</label>
                    <input class="form-control input-modal" placeholder="Precio" ng-model="orderModal.product_price">
                </div>
                <div class="col-md-6">
                    <label>IVA:</label>
                    <input class="form-control input-modal" placeholder="Iva" ng-model="orderModal.tax_rate">
                </div>
                <div class="col-md-6">
                    <label>Total linia:</label>
                    <input class="form-control input-modal" placeholder="Total de linia" ng-model="orderModal.total_line">
                </div>
                <div class="col-md-6">
                    <label>Fecha creación:</label>
                    <input disabled class="form-control input-modal" placeholder="Creación" ng-model="orderModal.created_at">
                </div>
                <div class="col-md-6">
                    <label>Ultima actualización:</label>
                    <input disabled class="form-control input-modal" placeholder="Actualización" ng-model="orderModal.updated_at">
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="col-md-4">
                <button type="button" class="btn btn-warning btn-block input-modal" ng-click="cancel()">
                    Cancelar <i class="fa fa-ban"></i>
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-danger btn-block input-modal" ng-click="cancelOrder()">
                    Eliminar pedido <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success btn-block input-modal" ng-click="save()">
                    Guardar pedido <i class="fa fa-floppy-o"></i>
                </button>
            </div>
        </div>
    </div>
</div>

