<div>
    <div class="modal-header">
        <h3 class="modal-title" ng-if="local.newlocal">Alta nuevo local</h3>
        <h3 class="modal-title" ng-if="!local.newlocal">Edición del local {{local.id}}</h3>
    </div>
    <div class="modal-body clearfix">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Nombre del Local</label>
                    <input class="form-control" placeholder="Nombre del local" ng-model="local.name">
                </div>
                <div class="col-md-6">
                    <label>Dirección</label>
                    <input class="form-control" placeholder="Dirección" ng-model="local.direction">
                </div>
                <div class="col-md-6">
                    <label>Codigo postal:</label>
                    <input class="form-control" placeholder="CP" ng-model="local.postcode">
                </div>
                <div class="col-md-6">
                    <label>Latitud</label>
                    <input class="form-control" placeholder="Latitud" ng-model="local.lat">
                </div>
                <div class="col-md-6">
                    <label>Longitud</label>
                    <input class="form-control" placeholder="Longitud" ng-model="local.lng">
                </div>
                <div class="col-md-6">
                    <label>Desde:</label>
                    <input class="form-control" placeholder="Hora" ng-model="local.from_hour">
                </div>
               <!-- <div class="col-md-6">
                    <label>Hora de recogida:</label>
                    <input class="form-control" placeholder="Hora de recogida" ng-model="local.pickup_time">
                </div>-->
                <div class="col-md-6">
                    <label>Hora de cierre:</label>
                    <input class="form-control" placeholder="Hora de recogida" ng-model="local.to_hour">
                </div>
                <div class="col-md-6">
                    <label>Imagen:</label>
                    <!-- <input class="form-control" placeholder="Imagen url" ng-model="local.picture">-->
                    <input type='file' ng-model='local.raw_picture' base-sixty-four-input>
                </div>
                <div class="col-md-6">
                    <label>Asignar usuario existente:</label>
                    <!--<input class="form-control" placeholder="Id usuario" ng-model="local.user_id">-->
                    <select class="form-control" ng-model="local.user_id">
                        <option value="{{local.user_id}}" selected>{{local.user_id}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Asignar usuario nuevo:</label>
                    <button type="button" class="btn btn-success btn-block" ng-click="newUser()">
                        Nuevo usuario <i class="fa fa-user"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="col-md-6" ng-if="local.newlocal">
                <button type="button" class="btn btn-danger btn-block" ng-click="cancel()">
                    Descartar Local <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-md-6" ng-if="!local.newlocal">
                <button type="button" class="btn btn-danger btn-block" ng-click="delete(local.id)">
                    Eliminar Local <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-success btn-block" ng-click="ok()">
                    Guardar Local <i class="fa fa-floppy-o"></i>
                </button>
            </div>
        </div>
    </div>
</div>
