<div>
    <div class="modal-header">
        <h3 class="modal-title" ng-if="local.newlocal">Alta nuevo local</h3>
        <h3 class="modal-title" ng-if="!local.newlocal">Edición del local {{local.name}}</h3>
    </div>
    <div class="modal-body clearfix">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Nombre del Local</label>
                    <input class="form-control input-modal" placeholder="Nombre del local" ng-model="local.name">
                </div>
                <div class="col-md-6">
                    <label>Dirección</label>
                    <input class="form-control input-modal" placeholder="Dirección" ng-model="local.direction">
                </div>
                <div class="col-md-6">
                    <label>Codigo postal:</label>
                    <input class="form-control input-modal" placeholder="CP" ng-model="local.postcode">
                </div>
                <div class="col-md-6">
                    <label>Telefono:</label>
                    <input class="form-control input-modal" placeholder="Telefono" ng-model="local.phone">
                </div>
                <div class="col-md-6">
                    <label>Latitud</label>
                    <input class="form-control input-modal" placeholder="Latitud" ng-model="local.lat">
                </div>
                <div class="col-md-6">
                    <label>Longitud</label>
                    <input class="form-control input-modal" placeholder="Longitud" ng-model="local.lng">
                </div>
                <div class="col-md-6">
                    <label>Desde:</label>
                    <!--<input class="form-control input-modal" placeholder="Hora" ng-model="local.from_hour">-->
                    <div uib-timepicker class="input-modal" ng-model="dates.from_hour" show-spinners="false" show-meridian="false"></div>
                </div>
                <div class="col-md-6">
                    <label>Hasta:</label>
                    <div uib-timepicker class="input-modal" ng-model="dates.to_hour" show-spinners="false" show-meridian="false"></div>
                    <!--<input class="form-control input-modal" placeholder="Hora de recogida" ng-model="local.to_hour">-->
                </div>
                <div class="col-md-6">
                    <label>Asignar usuario existente:</label>
                    <!--<input class="form-control input-modal" placeholder="Id usuario" ng-model="local.user_id">-->
                    <select class="form-control input-modal" ng-model="local.user_id">
                        <option ng-repeat="user in users" value="{{user.id}}" selected>{{user.email}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Asignar usuario nuevo:</label>
                    <button type="button" class="btn btn-success btn-block input-modal" ng-click="newUser()">
                        Nuevo usuario <i class="fa fa-user"></i>
                    </button>
                </div>
                <div class="col-md-6">
                    <label>Imagen Url:</label>
                    <input disabled class="form-control input-modal" placeholder="Imagen" ng-model="local.picture">
                </div>
                <div class="col-md-6">
                    <label>Imagen:</label>
                    <input class="form-control input-modal" type='file' ng-model='local.raw_picture' base-sixty-four-input>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="col-md-4">
                <button type="button" class="btn btn-warning btn-block input-modal" ng-click="cancel()">
                    Cancelar <i class="fa fa-ban"></i>
                </button>
            </div>
            <div class="col-md-4" ng-if="local.newlocal">
                <button type="button" class="btn btn-danger btn-block input-modal" ng-click="cancel()">
                    Descartar Local <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-md-4" ng-if="!local.newlocal">
                <button type="button" class="btn btn-danger btn-block input-modal" ng-click="delete(local.id)">
                    Eliminar Local <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success btn-block input-modal" ng-click="save()">
                    Guardar Local <i class="fa fa-floppy-o"></i>
                </button>
            </div>
        </div>
    </div>
</div>
