<div class="local-grid row-fluid clearfix">
    <div class="local-grid-header" >
        <p>{{filterBy}} <span>({{totalItems}})</span>
    </div>
    <div class="col-lg-12 clearfix">
        <div ng-if="usertype != 2" class="col-lg-4 col-md-6 local-grid-element">
            <div class="panel panel-default local-grid-element-local" ng-click="newLocal()" >
                <div class="panel-body clearfix" style="width: 100%">
                    <div class="col-lg-12">
                        <div class="local-grid-title">
                            <h3 class="local-grid-local"> Añadir nuevo local</h3>
                        </div>
                        <div class="local-grid-text">
                            <p class="local-grid-plus"><i class="fa fa-home"></i></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div ng-if="locals" class="col-lg-4 col-md-6 local-grid-element" ng-repeat="localData in localsSliced">
            <div class="panel panel-default local-grid-element-local" ng-click="openLocal(localData.id)" ng-style="{'background-size': 'cover','background':'url({{localData.picture}}) no-repeat center center'}">
               <!-- <div class="panel-body clearfix" style="width: 100%">-->

                    <!-- <div class="local-grid-title">
                         <h3 class="local-grid-local">{{localData.name}}</h3>
                     </div>
                     <div class="local-grid-text">
                         <p class="local-grid-strong">{{localData.direction}}</p>
                         <p>{{localData.postcode}}</p>
                     </div>-->


              <!--  </div>-->

            </div>
        </div>
    </div>
    <div class="col-lg-12 clearfix">
        <div class="col-lg-4 col-md-7 col-lg-push-3" ng-show="totalItems>numPerPage">
            <div class="pull-right locals-pagination">
                <ul uib-pagination direction-links="true"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    total-items="totalItems"
                    items-per-page="numPerPage" max-size="4"
                    boundary-link-numbers="true" rotate="false"
                    ng-model="currentPage" ng-change="pageChanged()">
                </ul>
            </div>
        </div>
    </div>
    <div ng-if="localsData==false" class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <i>No local info.</i>

            </div>
        </div>
    </div>
</div>