<div class="local-detail row-fluid clearfix">
    <div back class="local-detail-header" >
        <p><img src="../../assets/mbd_back.svg" width="29px"> Detalles local {{local.id}}</p>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-if="local" class="col-lg-12">
                <div class="local-detail-title">
                    <h3 class="local-detail-local"> Ficha de {{local.name}}</h3>
                </div>
                <hr>
                <div class="col-lg-6 text-detail">
                    <p><span>Id local: </span>{{local.id}}</p>
                    <p><span>Dirección: </span>{{local.direction}}</p>
                    <p><span>Latitud: </span>{{local.lat}}</p>
                    <p><span>Longitud: </span>{{local.lng}}</p>
                    <p><span>Nombre: </span>{{local.name}}</p>
                    <p><span>Hora de recogida: </span>{{local.pickup_time}}</p>
                    <p><span>Codigo postal: </span>{{local.postcode}}</p>
                    <p><span>Propietario: </span>{{local.owner.email}}</p>
                    <p><span>Actualizado: </span>{{local.updated_at}}</p>
                </div>
                <div class="col-lg-6">
                    <img src="{{local.picture}}" width="100%" height="100%">
                    &nbsp;
                </div>

                <div class="col-lg-12" style="padding: 0">

                    <div class="col-lg-3">
                        <button class="btn btn-warning btn-block" ui-sref="root.orders({id_local:{{local.id}}})"> Ver pedidos  <i class="fa fa-eye"></i></button>
                        &nbsp;
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-success btn-block" ng-click="newProduct()"> Añadir producto <i class="fa fa-shopping-cart"></i></button>
                        &nbsp;
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-danger btn-block" ng-click="editUser(local.id)"> Editar propietario  <i class="fa fa-user"></i></button>
                        &nbsp;
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-danger btn-block" ng-click="editLocal(local.id)"> Editar local  <i class="fa fa-home"></i></button>
                        &nbsp;
                    </div>
                </div>

                <div ng-if="local===undefined" class="col-lg-12">
                    <div class="local-detail-header">
                        <i>No hay información para ese local</i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div ng-if="local.products.length > 0 " class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="local-detail-title">
                    <h3 class="local-detail-local"> Productos de {{local.name}}</h3>
                </div>
                <hr>
                <div ng-repeat="(key,product) in local.products">
                    <div class="col-lg-3">
                        <h4>{{product.name}}</h4>
                        <img src="{{product.picture}}" width="100%" height="100%">

                    </div>
                    <div class="col-lg-3 text-detail">
                        <h4>Información</h4>
                        <p><span>Precio inicial: </span>{{product.previous_price}}€</p>
                        <p><span>Precio final: </span>{{product.final_price}}€</p>
                        <p><span>IVA: </span>{{product.tax_rate}}%</p>
                        <p ng-if="product.type==1"><span>Tipo:</span> Pack frío</p>
                        <p ng-if="product.type==2"><span>Tipo:</span> Pack caliente</p>
                        <p><span>Stock:</span> {{product.stock}}</p>
                    </div>
                    <div class="col-lg-6">
                        <h4>Descripción</h4>
                        <p>{{product.description}}</p>
                    </div>
                    <div class="col-lg-12" style="padding: 0">
                        <div class="col-lg-3 col-lg-push-9">
                            <button class="btn btn-danger btn-block" ng-click="editProduct(product.id)"> Editar producto  <i class="fa fa-shopping-cart"></i></button>
                            &nbsp;
                        </div>
                    </div>
                    <hr ng-if="key < local.products.length-1" class="col-lg-11">
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="local-detail-title">
                    <h3 class="local-detail-local"> Pedidos de {{local.name}}</h3>
                </div>
                <hr>
                <orders-table localid="local.id"></orders-table>
            </div>
        </div>
    </div>
    <!--<div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="local-detail-title">
                    <h3 class="local-detail-local"> Campañas programadas de {{local.name}}</h3>
                </div>
                <hr>
                <programador-table localid="local.id"></programador-table>
            </div>
        </div>
    </div>-->
</div>
