<div>
    <div class="modal-header">
        <h3 class="modal-title" ng-if="product.newproduct">Alta de producto nuevo</h3>
        <h3 class="modal-title" ng-if="!product.newproduct">Edición del producto {{product.id}}</h3>
    </div>
    <div class="modal-body clearfix">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Nombre del producto</label>
                    <input class="form-control" placeholder="Nombre del producto" ng-model="product.name">
                </div>
                <div class="col-md-6">
                    <label>Tipo:</label>
                    <input class="form-control" placeholder="Tipo" ng-model="product.type">
                </div>
                <div class="col-md-6">
                    <label>Precio inicial:</label>
                    <input class="form-control" placeholder="Precio inicial" ng-model="product.previous_price">
                </div>
                <div class="col-md-6">
                    <label>Precio final:</label>
                    <input class="form-control" placeholder="Precio final" ng-model="product.final_price">
                </div>
                <div class="col-md-6">
                    <label>IVA:</label>
                    <input class="form-control" placeholder="Iva" ng-model="product.tax_rate">
                </div>
                <div class="col-md-6">
                    <label>Stock:</label>
                    <input class="form-control" placeholder="Stock" ng-model="product.stock">
                </div>
                <div class="col-md-6">
                    <label>Imagen:</label>
                    <input disabled class="form-control" placeholder="Imagen" ng-model="product.picture">
                </div>
                <div class="col-md-12">
                    <label>Descripción</label>
                    <textarea class="form-control" rows="5" placeholder="Descripción" ng-model="product.description"></textarea>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="col-md-6" ng-if="!product.newproduct">
                <button type="button" class="btn btn-danger btn-block" ng-click="cancel()">
                    Eliminar producto <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-md-6" ng-if="product.newproduct">
                <button type="button" class="btn btn-danger btn-block" ng-click="cancel()">
                    Descartar producto <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-success btn-block" ng-click="ok(product)">
                    Guardar Producto <i class="fa fa-floppy-o"></i>
                </button>
            </div>
        </div>
    </div>
</div>
