<div>
    <div class="modal-header">
        <h3 class="modal-title" ng-if="product.newproduct"><i class="fa fa-shopping-cart"></i> Alta de producto nuevo</h3>
        <h3 class="modal-title" ng-if="!product.newproduct"><i class="fa fa-shopping-cart"></i> Edición del producto {{product.name}}</h3>
    </div>
    <div class="modal-body clearfix">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Nombre del producto</label>
                    <input class="form-control input-modal" placeholder="Nombre del producto" ng-model="product.name">
                </div>
                <div class="col-md-6">
                    <label>Tipo:</label>
                    <select class="form-control input-modal" ng-model="product.type">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                </div>
                <div class="col-md-6">
                    <label>Precio inicial:</label>
                    <input class="form-control input-modal" placeholder="Precio inicial" ng-model="product.previous_price">
                </div>
                <div class="col-md-6">
                    <label>Precio final:</label>
                    <input class="form-control input-modal" placeholder="Precio final" ng-model="product.final_price">
                </div>
                <div class="col-md-6">
                    <label>IVA:</label>
                    <input class="form-control input-modal" placeholder="Iva" ng-model="product.tax_rate">
                </div>
                <div class="col-md-6">
                    <label>Stock:</label>
                    <input class="form-control input-modal" placeholder="Stock" ng-model="product.stock">
                </div>
                <div class="col-md-6">
                    <label>Imagen assignada:</label>
                    <input disabled class="form-control input-modal" placeholder="Ninguna" ng-model="picture">
                </div>
                <div ng-show="picture" class="col-md-6">
                    <label>Imagen:</label>
                    <button type="button" class="btn btn-danger btn-block btn-mostrar input-modal" ng-click="eliminarImagen()">
                        Eliminar imagen <i class="fa fa-trash"></i>
                    </button>
                </div>
                <div ng-show="!picture" class="col-md-6">
                    <label>Imagen:</label>
                    <input class="form-control input-modal" base-sixty-four-input type="file" ng-model="product.raw_picture">
                </div>
                <div class="col-md-12">
                    <label>Descripción</label>
                    <textarea class="form-control input-modal" rows="5" placeholder="Descripción" ng-model="product.description"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="col-md-4">
                <button type="button" class="btn btn-warning btn-block input-modal" ng-click="cancel()">
                    Cancelar <i class="fa fa-ban"></i>
                </button>
            </div>
            <div class="col-md-4" ng-if="!product.newproduct">
                <button type="button" class="btn btn-danger btn-block input-modal" ng-click="delete(product.id)">
                    Eliminar producto <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-md-4" ng-if="product.newproduct">
                <button type="button" class="btn btn-danger btn-block input-modal" ng-click="cancel()">
                    Descartar producto <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success btn-block input-modal" ng-click="save()">
                    Guardar Producto <i class="fa fa-floppy-o"></i>
                </button>
            </div>
        </div>
    </div>
</div>
