<div class="row programadorClass">
    &nbsp;
    <div class="col-lg-12">
        <div back class="order-detail-header">
            <p><img src="../../assets/mbd_back.svg" width="29px"> {{filterName}}</p>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-12 col-sm-12">
                    <div class="col-lg-6 col-sm-12">
                        <label>Desde el:</label>
                        <p class="input-group">
                            <input title="Date Start" type="text" name="date_start"
                                   class="form-control" uib-datepicker-popup="{{dateStart.format}}"
                                   ng-model="dateStart.date" is-open="dateStart.opened"
                                   datepicker-options="dateStart.dateOptions" date-disabled="disabled(date, mode)"
                                   close-text="Close" placeholder="Date Start"/>
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-click="openDatepicker('dateStart')"><i class="fa fa-calendar"></i></button>
                    </span>
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label>Hasta el:</label>
                        <p class="input-group">
                            <input title="Date End" type="text" name="date_end"
                                   class="form-control" uib-datepicker-popup="{{dateEnd.format}}"
                                   ng-model="dateEnd.date" is-open="dateEnd.opened"
                                   datepicker-options="dateEnd.dateOptions" date-disabled="disabled(date, mode)"
                                   close-text="Close" placeholder="Date End"/>
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" ng-click="openDatepicker('dateEnd')"><i class="fa fa-calendar"></i></button>
                    </span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <div class="local-detail-title">
                        <h3 class="local-detail-local"> APP </h3>
                    </div>
                    <hr>
                    <stats number="{{stats.d_app.v}}" comments="{{stats.d_app.d}}" colour="green" type="arrow-down"></stats>
                    <stats number="{{stats.o_app.v}}" comments="{{stats.o_app.d}}" colour="green" type="envelope-open"></stats>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <div class="local-detail-title">
                        <h3 class="local-detail-local"> Comportamiento </h3>
                    </div>
                    <hr>
                    <stats number="{{stats.opt_in.v}}%" comments="{{stats.opt_in.d}}" colour="primary" type="sign-in"></stats>
                    <stats number="{{stats.buscador.v}}" comments="{{stats.buscador.d}}" colour="primary" type="search"></stats>

                    <stats number="{{stats.r_visita.v}}" comments="{{stats.r_visita.d}}" colour="primary" type="eye"></stats>
                    <stats number="{{stats.s_app.v}}" comments="{{stats.s_app.d}}" colour="primary" type="share-alt"></stats>
                </div>
                <div class="col-lg-12 col-sm-12">

                    <div class="local-detail-title">
                        <h3 class="local-detail-local"> Ventas </h3>
                    </div>
                    <hr>
                    <stats number="{{stats.buyers.v}}" comments="{{stats.buyers.d}}" colour="yellow" type="shopping-cart"></stats>
                    <stats number="{{stats.r_compra.v}}" comments="{{stats.r_compra.d}}" colour="yellow" type="shopping-cart"></stats>
                    <stats number="{{stats.p_paypal.v}}" comments="{{stats.p_paypal.d}}" colour="yellow" type="paypal"></stats>
                    <stats number="{{stats.p_targeta.v}}" comments="{{stats.p_targeta.d}}" colour="yellow" type="credit-card"></stats>
                </div>
            </div>
        </div>
    </div>
</div>