<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <div class="logo-header"><a href="/"><img src="../../assets/common_actionbar_android.png" width="100%" height="100%"></a></div>
        <login-box></login-box>

        <ul class="nav in" id="side-menu" ng-show="logged">
            <sidebar-search></sidebar-search>
            <li>
                <a href="" class="head-text">Organizador:</a>
            </li>
            <li ng-class="{active: collapseVar==1}">
                <a href="" ng-click="check(1)" class="sub-hedd-text">Locales<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" uib-collapse="collapseVar!=1">
                    <li ui-sref-active="active" ng-repeat="local in sidebarContent.organizer.locals">
                        <a ng-if="local.show && local.id==0" class="sub-sub-hedd-text" ui-sref="root.locals.localgrid({page: 1})">{{local.n}} <span class="head-text">({{local.c}})</span></a>
                        <a ng-if="local.show && local.id!=0" class="sub-sub-hedd-text" ui-sref="root.locals.localdetail({id_local:{{local.id}}})">{{local.n}}</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)" class="sub-hedd-text">Usuarios<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" uib-collapse="collapseVar!=2">
                    <li ui-sref-active="active" ng-repeat="user in sidebarContent.organizer.users track by $index">
                        <a ng-if="user.show && user.id==0" class="sub-sub-hedd-text" ui-sref="root.locals.localgrid({ page: 1 })">{{user.n}} <span class="head-text">({{user.c}})</span></a>
                        <a ng-if="user.show && user.id!=0" class="sub-sub-hedd-text" ui-sref="root.locals.locadetail({id:{{user.id}}})">{{user.n}}</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: collapseVar==3}">
                <a href="" ng-click="check(3)" class="sub-hedd-text">Pedidos<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" uib-collapse="collapseVar!=3">
                    <li ui-sref-active="active" ng-repeat="order in sidebarContent.organizer.orders track by $index">
                        <a ng-if="order.show && order.id==0" class="sub-sub-hedd-text" ui-sref="root.locals.localgrid({ page: 1 })">{{order.n}} <span class="head-text">({{order.c}})</span></a>
                        <a ng-if="order.show && order.id!=0" class="sub-sub-hedd-text" ui-sref="root.locals.localdetail({id:{{order.id}} })">{{order.n}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="head-text">Estadisticas:</a>
            </li>
            <li>
                <a ui-sref="root.history({ option: 'entregas', page:1})" class="sub-hedd-text">Pedidos</a>
            </li>
            <li>
                <a ui-sref="root.history({ option: 'incidencias', page:1 })" class="sub-hedd-text">Push</a>
            </li>
            <li>
                <a href="" class="head-text">Push:</a>
            </li>
            <li>
                <a ui-sref="root.simplepush({page:1})" class="sub-hedd-text">Prueba push</a>
            </li>
            <li>
                <a ui-sref="root.segment({page:1})" class="sub-hedd-text">Segmentos</a>
            </li>
            <li>
                <a ui-sref="root.scheduler({page:1})" class="sub-hedd-text">Programador push</a>
            </li>
        </ul>
    </div>
</div>


