<style>
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }
    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }

</style>
<div class="container-fluid">
    &nbsp;<br>
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="col-md-6 text-center">
                    <div class="form-group">
                        <label>Campaign Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" ng-model="model.campaign_name"/>
                    </div>
                </div>

                <div class="col-md-6 text-center">
                    <label>Start Date:</label>
                    <p class="input-group">
                        <input title="Fecha prevista de envio" type="text" name="date_picker"
                               class="form-control" uib-datepicker-popup="{{datepicker.format}}"
                               ng-model="model.date_send" is-open="datepicker.opened"
                               datepicker-options="datepicker.dateOptions" date-disabled="disabled(date, mode)"
                               close-text="Close"/>

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-info" ng-click="openDatepicker($event)"><i class="fa fa-calendar"></i></button>
                            </span>
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Campaign Status</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="model.statusCheckbox.is_draft" ng-change="model.statusCheckbox.publish = !model.statusCheckbox.is_draft"><span class="label label-warning"><i class="fa fa-hand-paper-o"></i> Draft</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="model.statusCheckbox.is_test"><span class="label label-warning"><i class="fa fa-exclamation-triangle"></i> Test</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="model.statusCheckbox.publish" ng-change="model.statusCheckbox.is_draft = !model.statusCheckbox.publish" ><span class="label label-success"><i class="fa fa-paper-plane"></i> Ready to Send</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h4>Selected Segments</h4>
                        <div class="btn-group">
                            <label ng-repeat="segment in availableSegments" class="btn btn-primary" ng-model="model.segment.selectedValues[segment.id]" uib-btn-checkbox>{{segment.name}}</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <label for="exampleInputEmail1">
                <img src="assets/android.png">Push Android:
            </label>
        </div>
        <div class="col-md-12">
            <input type="text" class="form-control" id="titleAndroid" placeholder="Title" ng-model="model.android.title"/>
        </div>
        <div class="col-md-12">
            <textarea title="Message Android" placeholder="Some Android message" style="width:100%" rows="3" maxlength="300" ng-model="model.android.msg"></textarea>
            <p class="small">Remaining chars: {{android_remaining}}</p>
        </div>
        <div class="col-md-12">
            <label for="exampleInputEmail1">
                <img src="assets/apple.png">Push Apple:
            </label>
        </div>
        <div class="col-md-12">
            <textarea style="width:100%" rows="3" maxlength="300" placeholder= "Some iOS message" ng-model="model.apple"></textarea>
            <p class="small">Remaining chars: {{apple_remaining}}</p>
        </div>

        <div class="col-md-6">
            <button type="button" class="btn btn-danger btn-block" ng-click="cancel()">
                Cancelar <i class="fa fa-ban"></i>
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-success btn-block" ng-click="ok(model)">
                Guardar Campaña <i class="fa fa-plus"></i>
            </button>

        </div>
    </div>
</div>
&nbsp;<br>