<div class="row programadorClass">
    &nbsp;
    <div class="col-lg-12">
        <div back class="order-detail-header">
            <p><img src="../../assets/mbd_back.svg" width="29px"> {{filterName}}</p>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-3">
                    <label>Desde el:</label>
                    <p class="input-group">
                        <input title="Date Start" type="text" name="date_start"
                               class="form-control" uib-datepicker-popup="{{dateStart.format}}"
                               ng-model="dateStart.date" is-open="dateStart.opened"
                               datepicker-options="dateStart.dateOptions" date-disabled="disabled(date, mode)"
                               close-text="Close" placeholder="Date Start"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-click="openDatepicker('dateStart')"><i class="fa fa-calendar"></i></button>
                    </span>
                    </p>
                </div>
                <div class="col-lg-3">
                    <label>Hasta el:</label>
                    <p class="input-group">
                        <input title="Date End" type="text" name="date_end"
                               class="form-control" uib-datepicker-popup="{{dateEnd.format}}"
                               ng-model="dateEnd.date" is-open="dateEnd.opened"
                               datepicker-options="dateEnd.dateOptions" date-disabled="disabled(date, mode)"
                               close-text="Close" placeholder="Date End"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" ng-click="openDatepicker('dateEnd')"><i class="fa fa-calendar"></i></button>
                    </span>
                    </p>
                </div>
                <div class="col-lg-3" style="padding-top: 25px">
                    <button class="btn btn-danger btn-block" ng-click="mostrar()"> Mostrar <i class="fa fa-search"></i></button>
                </div>
                <div ng-repeat="franq in localsValues" class="col-lg-12 col-sm-12">
                    <div class="local-detail-title">
                        <h3 class="local-detail-local">{{franq.name}}, {{franq.total_fr}}€</h3>
                    </div>
                    <hr>

                    <div ng-repeat="(name,local) in franq.locals" class="col-lg-4 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <h1>{{local}} <i class="fa fa-euro"></i></h1>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <h2>{{name}}</h2>
                                        <div>{{}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>